:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  display: flex;
  flex-direction: row;
}

.cards-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px;
  width: 60%;
  margin: 0 auto;
}

.literature-table {
  height: 80%;
  width: 30%;
  border-collapse: collapse;
  margin: 20px 0;
}

.literature-table__head {
  background-color: inherit;
}

.literature-table__header {
  color: brown;
  font-size: 20px;
  text-align: justify;
  padding: 12px 15px;
  width: 25%;
}

.literature-table__body {
  background-color: inherit;
}

.literature-table__row {
  height: 50px;
  vertical-align: middle;
}

.literature-table__row:hover {
  background-color: rgb(14, 20, 26);
}

.literature-table__data {
  padding: 10px 15px;
  border-bottom: 1px solid #e1e1e1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.literature-table__input {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 30px;
  margin: 0;
}

.literature-table__submit-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 30px;
  height: 50dvh;
}

.literature-table__submit-btn:hover {
  background-color: #45a049;
}
